.main{
    height: 100vh;
    display:grid;
    grid-template-columns: auto 80% 10%;
    grid-template-rows: 5rem 2fr 60% 1fr;
}

h2{
    grid-column-start: 2;
    grid-column-end:3;
    padding-left:8px;
}
.button{
    grid-row-start: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    align-self: center;
}
table{
    border-collapse: collapse;
    border: 2px solid rgb(60, 59, 59);
    font-size: 0.8rem;
    letter-spacing: 1px;
    grid-column-start: 2;
    grid-column-end:4;
    margin:10px;
}
thead{
    background-color: gray;
}
th,td{
    border:2px solid black;
    padding:8px;
}
td{
    height: 50px;
    align-content: flex-start;
}
tbody,tfoot{
background-color: rgb(234, 234, 234);
}
.footer{
    display:inline-flex;
}