.main{
    height: 100vh;
    display:grid;
    grid-template-columns: auto 80% 10%;
    grid-template-rows: 5rem 2fr 60% 1fr;
}

h2{
    grid-column-start: 2;
    grid-column-end:3
}
.button{
    align-self: center;
}
.table{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(201, 197, 197);
    grid-column-start: 2;
    grid-column-end:4;
}
.button{
    grid-row-start: 1;
    grid-column-start: 3;
    grid-column-end: 4;
}
.white{
    background-color: rgb(243, 243, 241);
}
.top{
    font-weight: bold;
    background-color: gray;
}
.row{
    display:flex;
    border: 1px solid black;
}
.footer{
    display:box;
}