.body{
    height: 100vh;
    display: flex;
}
.main{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr 1fr;
}
.form{
    justify-content: left;
    margin-left: 10px;
}