
.header-container{
    display: flex;
    background-color: #363030;
    height: 100px;
    color: azure;
    font-size: larger;
    padding-left: 5%;
    width: 100%;

}

.body{
    display: flex;
    display: wrap;
    height: 100vh;
}
.left-column{
    grid-column-start: 1;
    grid-row: span 3;
    border: 1px solid black;
    padding: 8px;
}

h2{
    padding-left:10px;
}
