body{
    display:flex;
    flex-direction: column;
    background-color: gray;
    height:100vh;
    margin:20px
}
.header-container{
    width: 100%;
    background-color: red;
    justify-content: center;
}
.logo-container{
    width:100%;
}

.searchbar-container{
    display: flex;
}
.search{
    flex:3;
}
input{
    width: 90%;
}
.navbar-container{
    background-color: pink;
}

.icons{
    margin:5px;
}
.bi-heart:hover{
    border-radius:50%;
    color:black;
    background: darkred;
}
li{
   list-style-type: none; 
}

@media (max-width: 640px) {
    body{
        background-color: blue;
    }
    img{
        width:100%;
    }
}

@media (min-width: 641x) {
    
    body{
        background-color: black;
    }
    .header-container{


    }
    .logo-container{
 
      
    }
    .search-container{
       
    }
        
    .icons{
      
    }
  
    navbar-container{
      

    }
}